body {
  background-color: rgb(39, 37, 37);   
}

div {
  color: white;
}

.inline_icon {
  height: 1em; 
  width: 1em;
  object-fit: scale-down;
  vertical-align: middle;
}

th, td {
  padding: 5px;
  text-align: left;
}

td.player_name {
    width: 18ch;
}

td.player_result {
    width: 15ch;
}

td.player_pp, td.player_level {
    width: 25ch;
}

td.player_has_casket, td.casket_level {
    width: 22ch;
}

input[name="casket_level_input"] {
    width: 6ch;
}

/* td:nth-child(odd) {width: 32em;}
td:nth-child(even) {width: 12em;} */

tr:nth-child(even) {background-color: rgb(47, 45, 45);}
tr:hover {background-color: coral;}

fieldset {
  border: 0;
}