body {
  background-color: rgb(39, 37, 37);   
}

div {
  color: white;
}

.inline_icon {
  height: 1em; 
  width: 1em;
  object-fit: scale-down;
  vertical-align: middle;
}

th, td {
  padding: 5px;
  text-align: left;
}

/* td:nth-child(odd) {width: 32em;}
td:nth-child(even) {width: 12em;} */

tr:nth-child(even) {background-color: rgb(47, 45, 45);}
tr:hover {background-color: coral;}

fieldset {
  border: 0;
}