body {
  background-color: rgb(39, 37, 37);
  color: white;
}

.inline_icon {
  height: 1em; 
  width: 1em;
  object-fit: scale-down;
  vertical-align: middle;
}

th, td {
  padding: 5px;
  text-align: left;
}

td.player_name {
    width: 18ch;
}

td.player_result {
    width: 15ch;
}

td.player_pp, td.player_level {
    width: 25ch;
}

td.player_has_casket, td.casket_level {
    width: 25ch;
}

input[name="casket_individual_level_input"] {
    width: 10ch;
}

tr:hover {background-color: coral;}

output {
  text-align: right;
  font-family: monospace;
}

#global_parameters fieldset {
  display: inline-block;
}

#global_parameters fieldset legend{
  font-weight: bold;}

#rate_parameters, #playersq_parameters, #casket_parameters{
    display: grid;
/*    row-gap: 5px; */
}

#rate_parameters label {
    display: grid;
    grid-template-columns: 15ch 1fr auto; 
    align-items: center;                    
/*    column-gap: 2px;*/
}

#playersq_parameters > label,  #playersq_parameters > span{
    display: grid;
    grid-template-columns: 25ch 1fr auto; 
    align-items: center;                    
/*    column-gap: 2px;*/
}

#casket_parameters label {
    display: grid;
    grid-template-columns: 30ch 1fr auto; 
    align-items: center;                    
/*    column-gap: 2px;*/
}

#q_results {
    display: inline-table;
}

#q_results:nth-child(odd) {
    background-color: rgb(47, 45, 45);
}
